/// Style single
.single-artist{
	.content-wrapper{
		section{
			overflow: visible;
			h1{
				color: #000000;
			}
			.styles{
				font-weight: 700;
                font-size: 1.8rem;
				span{
					font-weight: 400;
					color: #000000;
                }
			}

			.country{
                font-size: 1.8rem;
                font-weight: 700;

                span{
                    font-weight: 400;
                }
            }

			.post-nav-wrapper{
				position:sticky;
				display:flex;
				justify-content: space-between;
				bottom: 50%;
				pointer-events: none;

				@include media-screen(1400px){
					position: initial;
					max-width: 1200px;
					padding: 0 15px;
					margin:1em auto;

				}
			}

			.arrow-container{
				z-index: 9;
				pointer-events: all;

				@include media-screen(1400px){
					max-width: 50%;

					&.next-link:hover{
						span{
							transform: translateX(-3px);
						}
						i{
							transform: translateX(3px);
						}
					}
					&.prev-link:hover{
						span{
							transform: translateX(3px);
						}
						i{
							transform: translateX(-3px);
						}
					}
				}

				&:hover{

					span{
						width: 100vw;
						opacity: 1;

						@include media-screen(1400px){
							width:auto;
						}
					}

				}

				&.next-link{

					span{
						right: 0;
						@include hover-transition;
					}

					@include media-screen(1400px){

					}

				}

				&.prev-link{

					span{
						left: 0;
						@include hover-transition;
					}
				}

				a{
					@include hover-transition;
					display: flex;
					align-items: center;
					padding: 1rem;
					position: relative;

					@include media-screen(1400px){
						padding: 0.5em;
						height: auto;
						width: auto;

						&:hover{
							opacity: 0.8;
						}
					}
				}

				//text dans le liens
				span{
					position: absolute;
					top:0;
					bottom:0;
					color:#fff;
					display: flex;
					max-width: 180px;
					align-items: center;
					justify-content: center;
					padding: 10px;
					min-height: 100%;
					width:0;
					opacity: 0;
					overflow: hidden;
					text-align: center;

					@include media-screen(1400px){
						display:block;
						font-size: 2rem;
						padding:0 1em;
						background-color:transparent;
						width:auto;
						opacity: 1;
						position: initial;
						overflow: visible;
						max-width: none;
						text-align: initial;
						color:white;
					}
				}

				i{
					font-size:5rem;
					color:#fff;

					@include media-screen(1400px){
						@include hover-transition;
						transform: translateX(0);
						padding:0 5px;
					}

				}
			}
		}
		.bio{
			z-index:0;
		}

	}
}