@include keyframe(blob-left-anim){
    0%{
      transform: translateX(100%);
    }
    100%{
      transform: translateX(0%);
    }
}
  
  @include keyframe(blob-right-anim){
    0%{
        transform: translateX(-100%);
      }
      100%{
        transform: translateX(0%);
      }
}

@include keyframe(reveal-element-anim){
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
}