.partners{
    .tier{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 40px;
        align-items: center;
        &:first-of-type{
            &:after{
                content:none;
            }
        }

        .partner{
            padding: 0 15px;
            margin-bottom: 20px;
            margin-top:20px;
            width:20%;
            @media only screen and (max-width: 767px) {
				margin-bottom:40px;
                width: 50%;
                text-align: center;
			}
            a{
                opacity: 1;
                @include hover-transition;

                &:hover{
                    opacity: 0.6;
                }
            }
            &.featured{
                width:100%;
                text-align: center;
                order:-1;
                margin-bottom: 60px;
                padding-bottom: 60px;

                @media only screen and (max-width: 767px) {
                    padding-bottom: 45px;
                }
            }
            &:not(:first-child):nth-child(5n+1):last-child {
                margin-right:auto;
            }
        }
    }
}