.content-wrapper{

	.evenements_a_venir{
		.content{
			h2{
				text-align: center;
			}
		}

	}

	.list-programs{
		min-height: 350px;
	}

}

.single-program{
	.content-wrapper{
		section{
			h1{
				color: #000000;
				margin-bottom: 0;
			}
			.artist{
				font-weight: 700;

				span{
					font-size: 0.6em;
					font-weight: 400;
					color: #000000;
				}
			}

			.event-infos{
				.venue{
					display: inline;
				}
			}
		}

		.col-wrapper{
			display: flex;

			.left-col{
				max-width: 35%;
                width:100%;
			}
			.right-col{
				padding-left: 30px;

				.content{
					padding-left: 0;
					padding-right: 0;
				}
			}

			@include media-screen(){
				flex-direction: column;

				.left-col{
					max-width: none;
				}

				.right-col{
					padding-left: 0;
				}
			}
		}

		.program-description{
			section{
				.content{
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}
}