<?js
var data = obj;
var self = this;
?>


<?js if (data.kind === 'package' && (data.name ||data.version)) { ?>
    <h3><?js= data.name ?> <?js= data.version ?></h3>
<?js } ?>

<?js if (data.kind === 'mainpage') { ?>
	<section class="readme-section">
		<article class="mainpage-list">
			<?js this.nav.topLevelNav.forEach(function(entry){ ?>
				<h3 class="subsection-title"><a href="<?js= entry.link ?>" class="dropdown-toggle" data-toggle="dropdown"><?js= entry.title ?></a></h3>
				<?js entry.members.forEach(function(member){ ?><h4><?js= member ?></h4><?js	}); ?>
			<?js }); ?>
		</article>
	</section>
<?js } ?>