/// Style single
.single-artwork{
	.content-wrap{
		section{
			h1{
				color: #000000;
			}
			.artist{
				color: $color_pink;
				font-weight: 700;

				span{
					font-size: 0.6em;
					font-weight: 400;
					color: #000000;
                }
                
                a{
                    color: inherit;
                    @include hover-transition;

                    &:hover{
                        color: $color_blue;
                    }
                }
			}

			.date{
				font-size: 1.8rem;
			}
		}

		.col-wrapper{
			display: flex;

			.left-col{
				max-width: 50%;
			}
			.right-col{
				width: 50%;
				padding-left: 30px;
			}

            @include media-screen(){
                flex-direction: column;

                .left-col{
                    max-width: none;
                }

                .right-col{
                    padding-left: 0;
                    width: auto;
                }
            }
		}
	}

	#gmap{
		height: 300px;
		width: 100%;
	}
}

/// Style sur la map
#gmap-arts{
    height: 500px;

    .artwork-data{
        max-width: calc(100vw - 53px);
        font-size: 1.6rem;

        &.this-year{
            .artist{
                color: $color_blue;

                a:hover{
                    color: $color_pink;
                }
            }

            .readmore{
                color: $color_blue;

                &:hover{
                    color: $color_pink;
                }
            }

            .sharing{
                p{
                    color: $color_blue;
                }

                a:hover{
                    color: $color_blue;
                }
            }

            h4{
                a:hover{
                    color: $color_blue;
                }
            }
        }

        .col-wrapper{
            display: flex;
        }

        .left-col{
            padding-right: 5px;
        }

        .right-col{
            padding-left: 5px;
        }

        figure{
            a{
                opacity: 1;
                @include hover-transition;

                &:hover{
                    opacity: 0.6;
                }
            }
        }

        .artwork-infos{
            padding-top: 10px;

        }

        .artist{
            font-weight: 700;
            color: $color_pink;
            margin-bottom: 0;

            span{
                font-size: 0.8em;
                font-weight: 400;
                color: #000000;
            }

            a{
                color: inherit;
                @include hover-transition;

                &:hover{
                    color: $color_blue;
                }
            }
        }

        .artwork-desc{
            clear: both;
        }

        @media only screen and (max-width: 767px) {
            .col-wrapper{
                flex-direction: column;
            }
    
            .left-col{
                padding-right: 0px;
            }
    
            .right-col{
                padding-left: 0px;
            }
        }
    }
}