/// Style single
.single-artist{
	.content-wrap{
		section{
			h1{
				color: #000000;
			}
			.styles{
				color: $color_pink;
				font-weight: 700;
                font-size: 1.8rem;
				span{
					font-weight: 400;
					color: #000000;
                }
			}

			.country{
                font-size: 1.8rem;
                font-weight: 700;
                
                span{
                    font-weight: 400;
                }
            }
            
            .artist-socials{
                margin-right: 5px;
                margin-bottom: 5px;
            }
		}

		.col-wrapper{
			display: flex;

			.left-col{
                max-width: 50%;
                
                + .right-col{
                    width: 50%;
                    padding-left: 30px;
                }
			}

            @include media-screen(){
                flex-direction: column;

                .left-col{
                    max-width: none;

                    + .right-col{
                        padding-left: 0;
                        width: auto;
                    }
                }

                
            }
		}
	}
}