// main: ../main.scss

/*
* STYLING BUTTONS.
* Since we are in partials scss, we can get specific and add fonts, colors, etc.
*/

%btn {
    border: 2px solid;
    padding: $spacing $spacing*4.5;
    border-radius: $spacing*3;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
    font-size: 1.375em;
    font-family: var(--basePrimaryFont);
    transition: all .15s ease-in-out;

    @include hover-focus-active{

    }

    svg{
        height: 1.25em;
        width: auto;
    }
}

.btn{
    @extend %btn;
}

.content-wrapper{
    button{
        @extend %btn;
    }

    .btn{
        margin-top: $spacing/2;

        + .btn{
            margin-left: $spacing/2;
        }
    }
}

.btn__wrapper{

    .btn{
        display: inline-block;
    }
}

nav {
    .btn {

    }
}

.gform_button{
    //@extend .btn;
}

$btn_styles:
"blanc" var(--couleurBlanc) var(--couleurNoir),
"bleu" var(--couleurBleu) var(--couleurJaune),
"noir" var(--couleurNoir) var(--couleurBlanc),
"jaune" var(--couleurJaune) var(--couleurRouge),
"jaune-alt" var(--couleurJaune) var(--couleurBleu),
"rouge" var(--couleurRouge) var(--couleurJaune);

@each $btn-name, $color, $color-alt in $btn_styles {

    %btn__#{$btn-name} {
        color: $color;
        border-color: $color;

        svg{
            fill:$color;

            #fill{
                fill:$color;
            }
        }

        @include hover-focus-active{
            color: $color-alt;
            background-color: $color;

            #fill{
                fill:$color-alt;
            }
        }
    }

    .btn--#{$btn-name}{
        @extend %btn__#{$btn-name};
    }
}
