// main: ../main.scss

/*
* STYLING BUTTONS.
* Since we are in partials scss, we can get specific and add fonts, colors, etc.
*/

%btn {
    display: block;
    padding: $spacing*1.65 $spacing*4;
    border-radius: $spacing*6;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    line-height: 1.2;
    transition: all .15s ease-in-out;
    cursor: pointer;
    position: relative;
    width: 100%;
    color: var(--couleurRouge);
    background-color: var(--couleurJaune);
    border-color: var(--couleurJaune);
    border-width: 2px;
    border-style: solid;

    @include media-breakpoint-up(md){
        padding: $spacing*1.65 $spacing*8;
        width: auto;
    }

    p &{

        @include media-breakpoint-up(md){
            display: inline-block;
        }
    }

    @include hover-focus-active{
        color: var(--couleurJaune);
        background-color: var(--couleurRouge);
        border-color: var(--couleurRouge);

        svg{
            fill:var(--couleurJaune);

            path,
            #fill{
                fill:var(--couleurJaune);
            }
        }
    }


}

.btn__has-icon{
    svg{
        margin: -15px 0;
        width: auto;
        vertical-align: middle;
        transform: translateX(-25px);
    }
}

.navbar-extra,
.content-wrapper{
    button:not(.select2-selection__clear),.button{
        @extend %btn;
    }
}

.navbar-extra {
    button{
        padding: $spacing*1.65 $spacing*4.5;
    }
}

.btn__wrapper{

    .btn{
        display: inline-block;
    }
}

.gform_button{
    //@extend .btn;
}

$btn_styles:
"white" var(--couleurBlanc) var(--couleurNoir),
"blue" var(--couleurBleu) var(--couleurJaune),
"black" var(--couleurNoir) var(--couleurBlanc),
"yellow" var(--couleurJaune) var(--couleurRouge),
"red" var(--couleurRouge) var(--couleurJaune);

@each $btn-name, $color, $color-alt in $btn_styles {

    %btn__#{$btn-name} {
        color: $color-alt;
        background-color: $color;

        @if $btn-name == "white" {
            border-color: $color-alt;

            svg{
                fill:$color;

                path,
                #fill{
                    fill:$color;
                }
            }
        } @else {
            border-color: $color;

            svg{
                fill:$color-alt;

                path,
                #fill{
                    fill:$color-alt;
                }
            }
        }


        @include hover-focus-active{
            color: $color;
            background-color: $color-alt;

            @if $btn-name == "black" or  $btn-name == "white" {
                border-color: $color;

                svg{
                    path,
                    #fill{
                        fill:$color;
                    }
                }
            } @else {
                border-color: $color-alt;

                svg{
                    path,
                    #fill{
                        fill:$color;
                    }
                }
            }

        }
    }

    .navbar-extra .btn--#{$btn-name},
    .content-wrapper .btn--#{$btn-name}{
        @extend %btn__#{$btn-name};
    }
}

.button-wrap{
	text-align: center;
    margin-top: 75px;
    width: 100%;
}

.button-wrap, .rte{
    .button {
        @include media-breakpoint-up(md){
            display: inline-block;
        }
    }
}

.readmore{
    display:block;
    color: var(--couleurNoir);
    font-weight: 600;
	@include hover-transition;
    text-transform: uppercase;

    @include hover-focus-active{
        color: var(--couleurRouge);
    }
}