.ui-datepicker{
    width: 100%;
    border-radius: 0;

    .ui-helper-clearfix::before,
    .ui-helper-clearfix::after{
        display: none;
    }

    .ui-datepicker-header{
        border-radius: 0;
        background: var(--couleurJaune);
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .ui-datepicker-title{
            order: 2;
            margin: 0 auto;

            select{
                width: auto;
            }
        }

        .ui-corner-all{
            position: static;
            width: auto;
            height: auto;
            background: none;
            border: none;
            cursor: pointer;

            .ui-icon{
                background: none;
                width: auto;
                height: auto;
                font-size: 0;
                position: static;
                margin: 0;

                &::before{
                    font-family: "Font Awesome 5 Solid";
                    color: #000000;
                    display: block;
                    font-size: 1.6rem;
                    z-index: 1;
                    text-indent: 0;
                    @include hover-transition;
                }
            }

            &.ui-datepicker-prev{
                order: 1;

                .ui-icon{
                    &::before{
                        content: "\f351";
                    }
                }
            }

            &.ui-datepicker-next{
                order: 3;

                .ui-icon{
                    &::before{
                        content: "\f352";
                    }
                }
            }
        }
    }

    .ui-datepicker-calendar{
        .ui-state-default{
            background: none;
        }

        .date-range-selected > .ui-state-active,
        .date-range-selected > .ui-state-default {
            background: none;
        }

        .ui-state-highlight,
        .ui-widget-content .ui-state-highlight,
        .ui-widget-header .ui-state-highlight{
            //border-color: $color_yellow;
            //background-color: rgba($color_yellow, 0.5);
        }
    }

    .ui-datepicker-buttonpane{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        button{
            @extend .button;
            min-width: 0;
            font-size: 1.2rem;
            background-image: none;
            border-radius: 0;
            padding:10px 9px;

            &.ui-datepicker-close{
                margin-left: 0px;
            }
        }
        @media only screen and (max-width: 380px) {
            button{
                padding:10px 3px;
            }
        }
    }
}