.card {
    flex: 75%;
    margin-top:20px;
    max-width: 400px;
    margin-bottom: $spacing-md * 3;

    @include media-breakpoint-up(md){
        flex: 30%;
    }

    &__wrapper {
        margin-bottom: -$spacing-xl !important;


        @include media-breakpoint-up(md) {
            justify-content: space-between;
        }

        &:after{
            content: "";
            flex: 30%;
            max-width: 400px;
        }

        + .row:not(.pagination-block) {
            margin-top: $spacing-md*4;

            .button-wrap{
                margin-top: 0;
            }
        }
    }

    &__header {
        background-color: var(--couleurJaune);
        color: var(--couleurRouge);
        margin-left: 20px;

        img{
            width: 100%;
        }
    }

    figure{
        overflow: hidden;
        transform: translate3d(-20px, -20px, 0);
        @include hover-transition;

        &:hover{
            transform: translate3d(-20px, 20px, 0);
        }
    }

    &__body{
        padding-top: 50px;

        p{
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}