.card {
    flex: 100%;
    margin-top: $spacing*2;
    margin-bottom: $spacing*4;

    @include media-breakpoint-up(md){
        flex: 50%;
        margin-bottom: $spacing-md * 3;
    }

    @include media-breakpoint-up(lg){
        flex: 30%;
        max-width: 400px;
        margin-bottom: $spacing-md * 3;
        margin-left: $spacing*1.5;
        margin-right: $spacing*1.5;
    }

    &:nth-last-child(n+2){

        .card__content{
            @include media-breakpoint-down(sm){
                padding-bottom: $spacing*2;
                border-bottom: 1px solid #bbbbbb;
            }
        }
    }

    &__wrapper {
        margin-bottom: -$spacing-md !important;


        @include media-breakpoint-up(md) {
            margin-bottom: -$spacing-xl !important;
            justify-content: space-between;
        }

        &:after{
            content: "";
            flex: 50%;
            max-width: 50%;

            @include media-breakpoint-up(lg) {
                flex: 30%;
                max-width: 400px;
            }
        }

        + .row:not(.pagination-block) {
            margin-top: $spacing*4;

            @include media-breakpoint-up(md) {
                margin-top: $spacing-xl*2;
            }

            .button-wrap{
                margin-top: 0;
            }
        }
    }

    &__header {
        background-color: var(--couleurJaune);
        color: var(--couleurRouge);
        margin-left: 20px;

        img{
            width: 100%;
        }
    }

    figure{
        overflow: hidden;
        transform: translate3d(-20px, -20px, 0);
        @include hover-transition;
    }

    &.program {
        figure {
            &:hover{
                @include media-breakpoint-up(lg){
                    transform: translate3d(-20px, 20px, 0);
                }
            }
        }
    }

    &__body{
        padding-top: $spacing-md;

        @include media-breakpoint-up(md){
            padding-top: $spacing-xl;
        }

        p{
            margin-top: $spacing*1.5;
            margin-bottom: $spacing*1.5;

            @include media-breakpoint-up(md){
                margin-top: $spacing*3;
                margin-bottom: $spacing*3;
            }
        }
    }
}