.card {
    flex: 100%;
    margin-top: $spacing*2;
    margin-bottom: $spacing*4;

    &:not(.card--full-width) {
        @include media-breakpoint-up(md){
            flex: 50%;
            margin-bottom: $spacing-md * 3;
        }

        @include media-breakpoint-up(lg){
            flex: 32.5%;
            max-width: 32.5%;
            margin-bottom: $spacing * 6;
        }
    }

    &.card--full-width{
        @include media-breakpoint-up(md){
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &:nth-last-child(n+2){

        .card__content{
            @include media-breakpoint-down(sm){
                padding-bottom: $spacing*2;
                border-bottom: 1px solid var(--colorBorder);
            }
        }
    }

    &__wrapper {
        margin-bottom: -$spacing-md !important;
        
        @include media-breakpoint-up(md) {
            padding-left: $spacing-xl;
            padding-right: $spacing-xl;
            margin-bottom: -$spacing-xl !important;
            justify-content: space-between;
        }

        &:after{
            content: "";
            flex: 50%;
            max-width: 50%;

            @include media-breakpoint-up(lg) {
                flex: 32.5%;
                max-width: 32.5%;
            }
        }

        + .row:not(.pagination-block) {
            margin-top: $spacing*4;

            @include media-breakpoint-up(md) {
                margin-top: $spacing-xl*2;
            }

            .button-wrap{
                margin-top: 0;
            }
        }
    }

    h3{
        font-size: 1.3636363636em;
        font-weight: 400;
    }

    &__header {

        img{
            width: 100%;
        }
    }


    &__body{
        padding-top: $spacing*1.5;

        @include media-breakpoint-up(md){
            padding-top: $spacing-md;
        }

    }

    &__teaser {
        margin-top: $spacing*1.5;
        
        @include media-breakpoint-up(md){
            margin-top: $spacing-md;
        }
        @include media-breakpoint-up(xl){
            line-height: 1.1;
            height: 3.3em;
        }
    }
    .readmore {
        margin-top: calc($spacing / 3);

        &:nth-child(1) {
            margin-right: $spacing-md * 3;
        }
    }
    &__cta{
        @include flexbox;
        @include flex-flow(row wrap);
        margin-top: $spacing*3;
        padding-right: $spacing-md;
    }

    &.program {

        figure {
        }

        .event-infos{
            margin-bottom: $spacing-md;
            position: relative;

            span{
                display: block;
            }
        }
        
        h3 {
            @include media-breakpoint-up(md) {
                min-height: 4em;
            }
        }

        .card__body{
            padding-top: $spacing-md;
        }

        .divider{
            display: inline-block !important;
        }
    }

    &.over-the-year{
        @include media-breakpoint-up(md){

            &:nth-last-child(n+2){
                margin-bottom: $spacing*4;
                padding-bottom: $spacing*2;
                border-bottom: 1px solid var(--colorBorder);
            }

            &.card--even{
                .card__body{
                    order: -1;
                    padding-right: $spacing-xl
                }
            }

            &.card--odd{
                .card__body{
                    padding-left: $spacing-xl
                }
            }

            .card{

                &__content{
                    @include flexbox;
                    @include flex-flow(row);
                    @include align-items(center);
                }

                &__header{
                    flex: 33%;
                    max-width: 33%;
                }

                &__body{
                    flex: 67%;
                    max-width: 67%;
                    padding: $spacing-md 0 $spacing-md 0;
                    margin-top: -$spacing * 2;
                }
            }
        }
    }
}