
/// style footer
#footer{

	.row{
		padding-left: $spacing-md;
		padding-right: $spacing-md;
		@include flex-flow(row wrap);
		@include align-items(flex-start);
		@include justify-content(space-between);

		@include media-breakpoint-down(md){
			max-width: 100vw;
			overflow-x: hidden;
		}

		@include media-breakpoint-up(md){
			max-width: var(--WidthNavArea);
			padding-left: $spacing * 3;
			padding-right: $spacing * 3;
		}

		@include media-breakpoint-up(lg){
			@include align-items(center);
		}

		@include media-breakpoint-up(xl){
			padding-left: $spacing * 4;
			padding-right: $spacing * 4;
		}

		@include media-breakpoint-up(xxxl){
			padding-left: $spacing * 6;
			padding-right: $spacing * 6;
		}
	}

	a {
		@include hover-transition;
	}

	.footer__main,
	.footer__sub{
		text-transform: uppercase;
		font-weight: 500;
		font-size: .875em;
	}

	.footer__main{
		padding-top: $spacing*4;
		padding-bottom: $spacing*4;

		@include media-breakpoint-up(md) {
			padding-top: $spacing*6;
			padding-bottom: $spacing*6;
		}

		@include media-breakpoint-up(xl){
			padding-top: $spacing*8;
			padding-bottom: $spacing*8;
		}
	}

	.footer__sub{
		@include justify-content(flex-end);
		padding-bottom: $spacing*4;

		@include media-breakpoint-up(xl) {
			padding-bottom: $spacing*8;
		}

		span,a{
			color: #777777;
		}

		a:hover {
			color: var(--couleurJaune);
		}
	}

	.footer__partners {
		flex: auto;
	    max-width: max-content;
		margin: 0 auto;

		@include media-breakpoint-down(sm){
			margin-top: $spacing*4;
		}

		@include media-breakpoint-up(lg){
			max-width: 13%;
		}

		@include media-breakpoint-between(xl,xxl){
			margin: 0 auto 0 3.9vw;
		}

		@include media-breakpoint-up(xxxl){
			margin: 0 auto 0 5.2vw;
		}

		.footer__partners-wrapper {
			&:first-child{
				margin-bottom: $spacing-md;

				@include media-breakpoint-up(lg) {
					margin-bottom: $spacing * 3.75;
				}

				@include media-breakpoint-up(xl) {
					margin-bottom: $spacing-xl;
				}
			}

			&:nth-last-child(1){

				@include media-breakpoint-up(lg) {
					margin-bottom: -$spacing*8;
				}
			}
		}

		h4 {
		    line-height: 1;
			font-weight: inherit;
			margin-bottom: $spacing * 1.5;

			@include media-breakpoint-down(sm){
				text-align: center;
			}

			@include media-breakpoint-up(lg) {
				margin-bottom: $spacing-md;
			}
		}
	}

	.footer__logo{
		flex: auto;
	    max-width: max-content;

		@include media-breakpoint-down(sm){
			margin: auto;
		}

		@include media-breakpoint-only(md){
			margin-right: auto;
		}

		@include media-breakpoint-up(lg) {
			max-width: 14%;
		}

		img{
			height: auto;

			@include media-breakpoint-down(sm){
				margin: auto;
			}

			@include media-breakpoint-down(lg){
				width: 100%;
				max-width: fit-content;
			}
		}
	}

	.footer__social{
		flex: auto;
		max-width: max-content;
		display: inherit;
		@include flex-flow(row wrap);
		@include justify-content(center);
		margin: 0 auto;

		@include media-breakpoint-down(sm){
			order: -1;
			margin-bottom: $spacing*4;
			min-width: 100%;
		}

		@include media-breakpoint-only(md){
			margin-right: 0;
		}

		li{
			margin: 0 $spacing*1;

			@include media-breakpoint-between(lg,xl){
				margin: 0 $spacing*0.75;
			}
		}

		a:hover {
			svg {
				fill: var(--couleurJaune);
			}
		}
	}


	.footer__navigation{
		@include media-breakpoint-down(md){
			display: none;
		}
		@include media-breakpoint-between(md,xl) {
			flex: auto;
			max-width: 50%;
		}

		@include media-breakpoint-up(xxl) {
			flex: 45%;
			max-width: 45%;
		}

		a{
			color: var(--couleurNoir);
		}
	}

	.footer__navigation,
	.footer__extra {
		ul {
			display: flex;
			justify-content: flex-end;
		}

		li {
			padding: 0 1vw;

			@include media-breakpoint-down(sm){
				font-size: 0.75em;
				text-align: center;
			}

			@include media-breakpoint-between(md,xl){
				font-size: 0.925em;
			}

			@include media-breakpoint-between(lg,xxxl){
				padding: 0 $spacing*0.5;
			}

			@include media-breakpoint-up(xl){
				padding: 0 1.125vw;
			}

			@include media-breakpoint-up(xxxl){
				padding: 0 $spacing;
			}

			&:nth-last-child(1){
				padding-right: 0;
			}
		}

		a{
			&:hover{
				color: var(--couleurJaune);
			}
		}
	}


}