#gmap{
	height: 300px;
	width: 100%;
}
/// Style sur la map
#gmap-arts{
    height: 500px;

    .artwork-data{
        max-width: calc(100vw - 53px);
        font-size: 20px;

		.row{
			padding: 0;
		}

        .col-4{
            padding: 5px;
            img{
                max-width: 100%;
            }
        }

        .col-8{
            padding: 5px;
        }

        img{
			width: 100%;
		}

        .artist{
            font-weight: 600;
            margin-bottom: 0;

            span{
                font-size: 0.8em;
                font-weight: 400;
            }
        }

        .artwork-desc{
            clear: both;
        }
    }

	.gm-style-iw-c{
		padding: $spacing !important;
	}

	.gm-style-iw{
		min-width: 0.75vw !important;

		@include media-breakpoint-up(md){
			min-width: 400px !important;
		}
	}
}
