
// STYLING NAV IN GENERAL.
%nav-link {
    display: block;
    text-decoration: none;
    transition: all .25s ease-in;
    text-transform: uppercase;
    //text-align: center;
    color: var(--couleurNoir);

    @include media-breakpoint-between(lg,xl) {
        font-size: 0.925em;
    }

    @include media-breakpoint-up(lg) {
        padding: 0 1vw;
        font-weight: 600;
    }

    @include media-breakpoint-up(xxxl){
        padding: 0 $spacing * 2;
    }


    .is_sticky &{
        //font-size: 16px;
    }

    span{
        @include media-breakpoint-up(lg) {
            text-align: left;
            display: block;
        }
    }

    &:hover,
    &.active,
    &.current-menu-parent{
        //color: var(--couleurOr);
    }
}

%dropdown-link{
    display: block;
    padding: $spacing 0;
    text-decoration: none;
    transition: all .25s ease-in;
    text-transform: uppercase;
    font-size: 0.9em;
    text-align: left;
    color: var(--couleurNoir);

    @include media-breakpoint-up(lg){
        font-weight: 600;

        /*.is_sticky &{
            font-size: 14px;
        }*/
    }

    @include media-breakpoint-down(md){
        color: var(--couleurGris);
        padding-left: $spacing;
    }

    &:visited{
        color: inherit;
    }

    &:hover,
    &.active,
    &.current-menu-parent{
        color: var(--couleurOr);
    }
}

.navbar{
    max-width: 100vw;
    overflow-x: clip;
    top: 0;
    width: 100%;
    z-index: 101;
    transition: all .15s ease;
    background-color: var(--couleurBlanc);

    &.is_sticky{
        position: fixed;

        .container-fluid {
            -webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,.25);
            -moz-box-shadow: 0px 10px 15px -5px rgba(0,0,0,.25);
            box-shadow: 0px 10px 15px -5px rgba(0,0,0,.25);

            @include media-breakpoint-only(lg) {
                padding: $spacing*2 $spacing*3;
            }

            @include media-breakpoint-between(xl,xxl){
                padding: $spacing-md $spacing*4;
            }

            @include media-breakpoint-up(xxxl){
                padding: $spacing-md $spacing*6;
            }
        }

        & + main{
            @include media-breakpoint-down(sm){
                margin-top: $spacing*8;
            }

            @include media-breakpoint-only(md){
                margin-top: $spacing-xl*2;
            }

            @include media-breakpoint-only(lg) {
                margin-top: $spacing*10.4;
            }

            @include media-breakpoint-between(xl,xxl){
                margin-top: $spacing*12.8;
            }

            @include media-breakpoint-up(xxxl){
                margin-top: $spacing*14.5;
            }
        }
    }

    @include media-breakpoint-up(lg){
        left: 0;
        right: 0;
    }

    .container-fluid{
        padding: $spacing*2;
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);
        max-width: var(--WidthNavArea);
        @include hover-transition(padding,0.15s);

        @include media-breakpoint-down(md){
            max-width: 100vw;
            overflow-x: hidden;
        }

        @include media-breakpoint-only(lg) {
            padding: $spacing*3;
        }

        @include media-breakpoint-up(xl){
            padding: $spacing-xl $spacing*4;
        }

        @include media-breakpoint-up(xxxl){
            padding: $spacing-xl $spacing*6;
        }
    }
}

.navbar-collapse {
    @include media-breakpoint-up(lg) {
        flex: auto;
        display: inherit;
        flex-flow: wrap;
    }

    .nav-item:not(.nav-item-child){
        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    .nav-item-child .nav-link{
        font-size: inherit;
    }

    @include media-breakpoint-down(md) {
        @include flexbox;
        @include flex-wrap(wrap);
        padding: $spacing*3 $spacing*2 $spacing*4;
        background: var(--couleurBlanc);
        position: fixed;
        top: $spacing-xl*2.4;
        left: 20%;
        width: 80%;
        bottom: 0;
        z-index: 1001;
        min-height: calc(100vh - 100px);
        transform: translateX(0);
        transition: transform 0.2s cubic-bezier(0.9, 0, 0.1, 0.9);
        overflow-y: scroll;
        border-left: 1px solid var(--couleurNoir);
        @include hover-transition(0.15s,top);

        &:not(.show) {
            transform: translateX(100%);
        }

        .admin-bar & {
            top: $spacing-xl*2.4 + 32px;
            min-height: calc(100vh - 145px);
        }

        .is_sticky & {
            z-index: -1;
            top: $spacing-xl*2;

            .admin-bar & {
                top: $spacing-xl*2 + 32px;
                min-height: calc(100vh - 145px);
            }
        }
    }

    @include media-breakpoint-down(sm){
        top: $spacing*9;

        .admin-bar &{
            min-height: calc(100vh - 146px);
            top: $spacing-xl*2 + 46px;
        }

        .is_sticky &{
            top: $spacing*8;

            .admin-bar & {
                min-height: calc(100vh - 126px);
                top: $spacing*8 + 46px;
            }
        }
    }
}

.navbar-toggler {
    padding: $spacing/4 $spacing/4;
    line-height: 1;
    @include flexbox;
    background-color: transparent; // remove default button style
    border: 1px solid transparent; // remove default button style
    margin-left: auto;

    @include media-breakpoint-down(md){
        order:4;
    }

    @include hover-focus() {
        text-decoration: none;
    }

    @include media-breakpoint-up(lg) {
        display: none
    }

    &-icon {
        display: inline-block;
        width: 36px;
        vertical-align: middle;
        content: "";
        background: no-repeat center center;
        background-size: 100% 100%;

        path{
            .active_menu &,
            .is_sticky &{
                fill: var(--couleurNoir);
            }
        }

        // IE only STYLING
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
            path{
                stroke: $black;
            }
        }
    }
}

.navbar-brand{
    display: inline-block;
    line-height: inherit;
    white-space: nowrap;

    @include media-breakpoint-up(lg){
        max-width: 14%;
    }

    img{
        height: auto;
        width: auto;
        @include hover-transition;

        @include media-breakpoint-down(md){
            height: 80px;
            .is_sticky &{
                height: 60px;
            }
        }

        @include media-breakpoint-down(sm){
            height: 50px;

            .is_sticky &{
                height: 40px;
            }
        }

        @include media-breakpoint-only(lg){
            width: 100%;
        }
    }
}

.navbar-overnav,
.navbar-extra,
.navbar-nav{
    @include flexbox;

    @include media-breakpoint-down(md){
        @include flex-flow(wrap);
        flex: 100%;
        min-width: 100%;
    }

    @include media-breakpoint-up(lg){
        @include align-items(center);
        @include flex-direction(row);
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
}

.navbar-overnav,
.navbar-nav{

    .nav-item:not(.nav-item-child){
        @include media-breakpoint-down(md) {
            font-weight: 500;
            font-size: 0.875em;
            border-width: 0 0 1px 0;
            border-color: var(--couleurNoir);
            border-style: solid;
            padding: $spacing 0;
            width: 100%;
        }
    }
}

.navbar-nav{

    @include media-breakpoint-down(md) {
        order: -1;
    }

    @include media-breakpoint-up(lg) {
        justify-content: center;
        flex: auto;
    }

    .nav{
        &-item{
            @include media-breakpoint-only(lg) {
                padding: 0 0.6vw;
            }

            @include media-breakpoint-between(xl,xxl){
                padding: 0 1.2vw;
            }

            @include media-breakpoint-between(xxl,xxxl){
                padding: 0 1.8vw;
            }

            @include media-breakpoint-up(xxxl){
                padding: 0 $spacing * 3.5;
            }

            &:nth-child(n+2){

                @include media-breakpoint-up(lg){
                    border-width: 0 0 0 1px;
                    border-color: var(--couleurNoir);
                    border-style: solid;
                }
            }
        }


        &-link{
            @extend %nav-link;
        }

    }

    .wpml-ls-legacy-list-horizontal{
        padding: 0;
        border: 0;
    }

    .wpml-ls-item,
    .wpml-ls-link{
        @extend %nav-link;
        margin-right: -$spacing;
    }

    .dropdown{
        position: relative;

        &-menu{
            @include media-breakpoint-down(md){
                max-height: 0;
                overflow: hidden;
                transition: max-height .15s ease-in-out;
            }

            @include media-breakpoint-up(lg){
                position: absolute;
                top: calc(100% + #{$spacing*2});
                left: 0;
                right: 1px;
                display: none;
                z-index: 999;
                width: 100%;
                padding: $spacing*2 $spacing*3.5 $spacing*2 $spacing*5.5;
                margin: 0;
                background-color: rgba(255,255,255,1);
                -webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,.25);
                -moz-box-shadow: 0px 10px 15px -5px rgba(0,0,0,.25);
                box-shadow: 0px 10px 15px -5px rgba(0,0,0,.25);
            }

            ul{
                transition: margin-top .15s ease-in-out, padding-top .15s ease-in-out;
                padding-top: 0;
                margin-top: 0;
            }

            &.show{
                display: block;

                @include media-breakpoint-down(md){
                    max-height: 100%;
                }

                ul{
                    @include media-breakpoint-down(md){
                        padding-top: $spacing * .5;
                        margin-top: $spacing * .5;
                    }
                }
            }
        }

        &-item{

            &:nth-child(n+2){

                @include media-breakpoint-up(lg){
                    border-width: 2px 0 0 0;
                    border-color: var(--couleurJaune);
                    border-style: solid;
                }
            }

        }

        &-link{
            @extend %dropdown-link;
        }
    }

    .menu-item-has-children {
        position: relative;
        padding-right: $spacing*3;
        cursor: pointer;

        @include media-breakpoint-up(xl){
            padding-right: 3.9vw;
        }

        &[aria-expanded="true"]{
            svg g g:first-child{
                opacity: 0;
            }
        }

        svg {
            position: absolute;
            top: 50%;
            right: 0.5vw;
            transform: translateY(-50%);

            @include media-breakpoint-up(xl) {
                right: 1vw;
            }

            @include media-breakpoint-down(lg) {
                height: $spacing*2;
                width: $spacing*2;
            }

            g{
                @include hover-transition;
            }
        }
    }
}

.navbar-extra{
    flex: initial;

    @include media-breakpoint-down(md) {
        margin-top: $spacing*2;
    }

    .button{
        text-align: center;

        @include media-breakpoint-only(lg){
            padding-left: $spacing*3;
            padding-right: $spacing*3;
            font-size: 0.925em;
        }

        @include media-breakpoint-only(xl){
            padding-left: $spacing*4;
            padding-right: $spacing*4;
            font-size: 0.925em;
        }

        @include media-breakpoint-up(xxl) {
            padding-left: $spacing*6;
            padding-right: $spacing*6;
        }

        @include media-breakpoint-up(lg) {
            display: inline-block;
        }
    }

    .btn__has-icon  svg {
        @include media-breakpoint-only(lg){
            transform: translateX(-15px);
        }
    }

    .nav-item{
        &:nth-last-child(n+2) {
            @include media-breakpoint-down(md) {
                padding-bottom: $spacing;
            }

            @include media-breakpoint-up(lg) {
                margin-right: $spacing * 1;
            }

            @include media-breakpoint-up(xl) {
                margin-right: $spacing * 1.5;
            }

            @include media-breakpoint-up(xxl) {
                margin-right: $spacing * 2;
            }
        }
    }
}

.navbar-overnav{

    @include media-breakpoint-up(lg){
        flex: 100%;
        justify-content: flex-end;
        min-width: 100%;
        transform: translateY(-$spacing*1);
    }

    @include media-breakpoint-up(xl){
        transform: translateY(-$spacing*1.5);
    }

    .nav-link{
        @extend %nav-link;

        @include media-breakpoint-up(lg){
            padding: 0;
            font-weight: 500;
            font-size: 0.9em;
        }
    }

    .nav-item{
        overflow: hidden;
        @include hover-transition;
        max-height: 100%;

        &:nth-last-child(n+2) {
            @include media-breakpoint-up(lg) {
                margin-right: $spacing * 2;
            }
        }

        .is_sticky &{
            max-height: 0;
        }
    }
}

.nav-lang{
    line-height: 0;
}
.wpml-ls-statics-shortcode_actions.wpml-ls {
    padding: 0;
    border: 0;

    a {
        line-height: var(--baseLineHeight);
        padding: 0;
        font-weight: 500;
        color: inherit;
        font-size: 0.9em;
        text-transform: uppercase;

        @include media-breakpoint-down(md){
            font-weight: 600;
        }
    }
}
