
/// Style paginations
.content-wrapper{

    .pagination{
        display: flex;
        margin: 0 auto;
        flex-flow: row wrap;

        li{
            margin-left: 10px;
            margin-right: 10px;
            font-size: 1.25em;

            &.disabled{
                display: none;
            }
        }

        a:not(.dots){
            color: var(--couleurNoir);
            @include hover-transition;

            &.current,
            &:hover{
                color: var(--couleurMauve);
            }
        }

    }
}