.slick{
    &-arrow{
        position: absolute;
        height: 25px;
        width: 25px;
        cursor: pointer;
        z-index: 11;
        top: 50%;

        @include media-breakpoint-up(lg){
            height: 38px;
            width: 38px;
        }

        svg {
            position: absolute;
            top: 0;
            bottom: 0;
            height: 25px;
            left: 0;

            @include media-breakpoint-up(lg){
                height: 38px;
            }
        }
    }

    &--prev{
        transform: rotate(180deg) translateY(50%);
    }
    &--next{
        transform:  translateY(-50%);
    }
}