.programs__slider{
    margin-bottom: 0 !important;
    padding-left: 0;
    padding-right: 0;

    .slick-list{
        margin-left: $spacing*-1;
        margin-right: $spacing*-1;
        padding: 0 15% 0 0 !important;
        
        @include media-breakpoint-up(lg) {
            padding: 0 5% 0 0 !important;
        }
    }

    .slick-track{
        @include flexbox;
    }

    .slick-arrow{
        top: 0;
        height: 50px;
        width: 25px;
        background-color: transparent;
        border-color: var(--couleurNoir);
        border-style: solid;
        transform: translateY(-100%);
        display: inline-flex !important;
        @include hover-focus;
        
        &.slick-prev {
            border-width: 2px 2px 2px 0;
        }
        &.slick-next {
            border-width: 2px 0 2px 2px;
        }

        &:hover{
            background-color: var(--couleurNoir);

            svg {
                path {
                    fill: var(--couleurBlanc);
                }
            }
        }

        @include media-breakpoint-up(md){
            height: 70px;
            width: 35px;
        }

        @media screen and (min-width: 1500px){
            height: 120px;
            width: 60px;
        }

        @media screen and (min-width: 1700px){
            height: 160px;
            width: 80px;
        }


        svg {
            height: 15px;
            margin: auto;

            @include media-breakpoint-up(md){
                height: 20px;
            }

            @media screen and (min-width: 1500px){
                height: 38px;
            }

            path {
                fill: var(--couleurNoir);
            }
        }
    }

    .slick-prev{
        left: 0;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;

        @include media-breakpoint-up(lg){
            left: -35px;
        }

        @media screen and (min-width: 1441px){
            left: calc(calc(-100vw + var(--WidthContainerArea))/2 - 25px);
        }

        svg {
            transform: translateX(-25%);
            @include media-breakpoint-up(lg){
                transform: translateX(-50%);
            }
        }
    }

    .slick-next{
        right: 0;

        @include media-breakpoint-up(lg){
            right: -34.9px;
        }

        @media screen and (min-width: 1441px){
            right: calc(calc(-100vw + var(--WidthContainerArea))/2 - 25px);
        }

        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;

        svg {
            transform: translateX(25%);
            @include media-breakpoint-up(lg){
                transform: translateX(50%);
            }
        }
    }

    .column__date{
        border-width: 0 0 2px 0;
        border-style: solid;
        border-color: var(--couleurNoir);
        padding-bottom: $spacing * 2;
        margin-bottom: $spacing * 7;
        margin-left: $spacing;
        margin-right: $spacing;
        @include hover-transition;

        span{
            display: block;
            font-weight: 400;
            text-transform: capitalize;
        }
    }

    .column__wrapper{
        height: auto;
    }

    .card{
        margin-left: $spacing;
        margin-right: $spacing;
        
        .card__content{
            padding-bottom: $spacing-md;
            margin-bottom: $spacing-md * 2.5;
            border-bottom: 2px solid var(--colorBorder);

            @include media-breakpoint-down(sm){
                padding-bottom: $spacing*2;
            }
        }

        &:nth-last-child(1){
            margin-bottom: 0;
        }
    }
}