.content-wrapper{

    .bg--blue{
        h1,h2,h3,h4,h5,h6,p {
            color: var(--couleurNoir);
        }

        @include placeholderColor(var(--couleurNoir));

        input:not([type=checkbox]):not([type=radio]):not([type=submit]){
            border-color: var(--couleurNoir);
            color: var(--couleurNoir);
        }

        .button{

            color: var(--couleurRouge);
            background-color: var(--couleurNoir);
            border-color: var(--couleurNoir);

            svg{
                fill: var(--couleurRouge);

                path,
                #fill{
                    fill: var(--couleurRouge);
                }
            }

            @include hover-focus-active{
                color: var(--couleurNoir);
                background-color: var(--couleurRouge);
                border-color: var(--couleurRouge);

                svg{
                    fill: var(--couleurNoir);

                    path,
                    #fill{
                        fill: var(--couleurNoir);
                    }
                }
            }
        }
    }

    .bg--red{
        h1,h2,h3,h4,h5,h6,p {
            color: var(--couleurNoir);
        }

        @include placeholderColor(var(--couleurNoir));

        input:not([type=checkbox]):not([type=radio]):not([type=submit]){
            border-color: var(--couleurNoir);
            color: var(--couleurNoir);
        }

        .button{

            color: var(--couleurNoir);
            //background-color: var(--couleurNoir);
            //border-color: var();

            @include hover-focus-active{
                color: var(--couleurRouge);
                background-color: var(--couleurNoir);
                border-color: var(--couleurNoir);

                svg{
                    fill: var(--couleurRouge);

                    path,
                    #fill{
                        fill: var(--couleurRouge);
                    }
                }
            }

            svg{
                fill: var(--couleurNoir);

                path,
                #fill{
                    fill: var(--couleurNoir);
                }
            }
        }
    }

    .bg--yellow{
        h1,h2,h3,h4,h5,h6,p {
            color: var(--couleurRouge);
            color: var(--couleurRouge);
        }

        @include placeholderColor(var(--couleurRouge));

        input:not([type=checkbox]):not([type=radio]):not([type=submit]){
            border-color: var(--couleurRouge);
        }


        .button{

            color: var(--couleurNoir);
            border-color: var(--couleurNoir);
            background-color: var(--couleurNoir);

            svg{
                fill: var(--couleurNoir);

                path,
                #fill{
                    fill: var(--couleurNoir);
                }
            }

            @include hover-focus-active{
                background-color: var(--couleurRouge);
                border-color: var(--couleurRouge);
            }
        }
    }
}
