.content-wrapper{

    .bg--blue{
        h1,h2,h3,h4,h5,h6,p {
            color: var(--couleurJaune);
        }

        .button{

            color: var(--couleurRouge);
            background-color: var(--couleurJaune);
            border-color: var(--couleurJaune);

            @include hover-focus-active{
                background-color: var(--couleurRouge);
                border-color: var(--couleurRouge);
                color: var(--couleurJaune);
            }
        }
    }

    .bg--red{
        h1,h2,h3,h4,h5,h6,p {
            color: var(--couleurJaune);
        }

        .button{

            color: var(--couleurJaune);
            background-color: var(--couleurBleu);
            border-color: var(--couleurBleu);

            @include hover-focus-active{
                color: var(--couleurRouge);
                background-color: var(--couleurJaune);
                border-color: var(--couleurJaune);
            }
        }
    }

    .bg--yellow{
        h1,h2,h3,h4,h5,h6,p {
            color: var(--couleurRouge);
        }

        .button{

            color: var(--couleurJaune);
            border-color: var(--couleurBleu);
            background-color: var(--couleurBleu);

            @include hover-focus-active{
                background-color: var(--couleurRouge);
                border-color: var(--couleurRouge);
            }
        }
    }
}
