.content-wrapper{

    .bg--blue{
        h1,h2,h3,h4,h5,h6,p {
            color: var(--couleurJaune);
        }

        @include placeholderColor(var(--couleurJaune));

        input:not([type=checkbox]):not([type=radio]):not([type=submit]){
            border-color: var(--couleurJaune);
            color: var(--couleurJaune);
        }

        .button{

            color: var(--couleurRouge);
            background-color: var(--couleurJaune);
            border-color: var(--couleurJaune);

            svg{
                fill: var(--couleurRouge);

                path,
                #fill{
                    fill: var(--couleurRouge);
                }
            }

            @include hover-focus-active{
                color: var(--couleurJaune);
                background-color: var(--couleurRouge);
                border-color: var(--couleurRouge);

                svg{
                    fill: var(--couleurJaune);

                    path,
                    #fill{
                        fill: var(--couleurJaune);
                    }
                }
            }
        }
    }

    .bg--red{
        h1,h2,h3,h4,h5,h6,p {
            color: var(--couleurJaune);
        }

        @include placeholderColor(var(--couleurJaune));

        input:not([type=checkbox]):not([type=radio]):not([type=submit]){
            border-color: var(--couleurJaune);
            color: var(--couleurJaune);
        }

        .button{

            color: var(--couleurJaune);
            background-color: var(--couleurBleu);
            border-color: var(--couleurBleu);

            @include hover-focus-active{
                color: var(--couleurRouge);
                background-color: var(--couleurJaune);
                border-color: var(--couleurJaune);

                svg{
                    fill: var(--couleurRouge);

                    path,
                    #fill{
                        fill: var(--couleurRouge);
                    }
                }
            }

            svg{
                fill: var(--couleurJaune);

                path,
                #fill{
                    fill: var(--couleurJaune);
                }
            }
        }
    }

    .bg--yellow{
        h1,h2,h3,h4,h5,h6,p {
            color: var(--couleurRouge);
            color: var(--couleurRouge);
        }

        @include placeholderColor(var(--couleurRouge));

        input:not([type=checkbox]):not([type=radio]):not([type=submit]){
            border-color: var(--couleurRouge);
        }


        .button{

            color: var(--couleurJaune);
            border-color: var(--couleurBleu);
            background-color: var(--couleurBleu);

            svg{
                fill: var(--couleurJaune);

                path,
                #fill{
                    fill: var(--couleurJaune);
                }
            }

            @include hover-focus-active{
                background-color: var(--couleurRouge);
                border-color: var(--couleurRouge);
            }
        }
    }
}
