
%heading-h1 {
    font-size: 2em;
    font-weight: 900;
    line-height: 1.1;
    text-transform: uppercase;

    @include media-breakpoint-only(md){
        font-size: 3.5em;
    }

    @include media-breakpoint-up(xxl){
        font-size: 4.1em;
    }
}

%heading-h2 {
    font-size: 1.5em;
    line-height: 1.1;
    font-weight: 300;
    text-transform: uppercase;

    @include media-breakpoint-up(md){
        font-size: 1.875em;
    }

    @include media-breakpoint-up(xxl){
        font-size: 2.5em;
    }
}

%heading-h1-small {
    font-size: 1.5em;
    line-height: 1.1;
    font-weight: 900;
    text-transform: uppercase;

    @include media-breakpoint-up(md){
        font-size: 1.875em;
    }

    @include media-breakpoint-up(lg){
        font-size: 3em;
    }
}

%heading-h3 {
    font-size: 1.25em;
    font-weight: 600;
    margin-bottom: $spacing/3;
    text-transform: uppercase;

    @include media-breakpoint-up(md){
        font-size: 1.5em;
    }
}

%heading-h4 {
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;

    @include media-breakpoint-up(md){
        font-size: 1.3em;
    }
}

%paragraph {
    $font : 20;
    $lh : 36;

    font-size: 1em;
    line-height: $lh / $font;
    letter-spacing: 0.25px;
    margin: 1em 0;
    font-weight: 500;
    font-family: var(--basePrimaryFont);
    color: var(--couleurGris);

    .lg{
        font-size: 1.125em;
    }

    &:nth-child(1){
        margin-top: 0;
    }
}

// HEADINGS CSS
.content-wrapper{

    h1, .h1 {
        @extend %heading-h1;

        &.sm{
            @extend %heading-h1-small;
        }
    }

    h2, .h2 {
        @extend %heading-h2;

        &.lg{
            @extend %heading-h1-small;
        }
    }

    h3, .h3 {
        @extend %heading-h3;
    }

    h4, .h4 {
        @extend %heading-h4;
    }

    h2,h3,h4{
        font-family: var(--basePrimaryFont);
        text-transform: uppercase;
    }

    h2,h3,h4{
        a{
            color: inherit;
        }
    }

    p{
        @extend %paragraph;
    }

    blockquote{
        font-size: 1.15em;

        @include media-breakpoint-up(md){
            font-size: 1.4em;
        }

        p{
            &:first-child{
                margin-top: 0;
            }
        }
    }
}

.rte{
    width: 100%;

    * + {

        h2,h3{
            margin-top: $spacing;
        }
    }

    h2{
        margin-bottom: $spacing * .75;
    }

    h3{
        margin-bottom:  $spacing * .5;
    }

    h4{
        margin-bottom:  $spacing * .25;
    }

    p{
        &:nth-child(1){
            margin-top: 0;
        }

        &:nth-last-child(1){
            margin-bottom: 0;
        }
    }

    a {
        font-weight: 600;
        color: var(--couleurRouge);
        transition: color .15s ease-in-out;

        &:hover{
            color: var(--couleurBleu);
        }

        &:visited {
            color: var(--couleurRouge);
        }
    }
}

header a {
    text-decoration: none;
    color: inherit;
}

.section__title{
    margin-bottom: $spacing-xl;
}

.section__sub-title{
    margin-top: $spacing-md;
    margin-bottom: $spacing-md;
}

