.grid{}

.content-wrapper{
    //max-width: 95%;
    max-width: var(--WidthContentArea);

    section{
        margin-top: $spacing * 8;
        margin-bottom: $spacing * 8;

        &[class*="bg--"]{
            padding-top: $spacing * 6.5;
            padding-bottom: $spacing-md * 2;
        }

        section{
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}


.row {
    width: 100%;
    max-width: var(--WidthContainerArea);
    display: flex;
    padding-left: $spacing-xl;
    padding-right: $spacing-xl;
    margin:0 auto;

    &.full-width{
        max-width:none;
    }

    .row{
        padding-left: 0;
        padding-right: 0;
    }
}


.content{
	flex-direction: column;
	align-items: center;
	justify-content:space-between;

	@media only screen and (min-width:1400px){
		flex-direction: row;
		align-items: flex-end;
	}
}
