<section class="single-navigation row">

    {{ get_back_button() }}

    <div class='col-md-9 breadcrumb'>{{ get_breadcrumb(parent_taxonomy_label, parent_taxonomy_link, child_taxonomy_label, child_taxonomy_link) }}</div>
</section>

