
{% if options.facebook %}
	<li><a href="{{options.facebook}}" target="_blank" rel="nofollow">{% include '/svg/icon_fb.svg' %}</a></li>
{% endif %}
{% if options.instagram %}
	<li><a href="{{options.instagram}}" target="_blank" rel="nofollow">{% include '/svg/icon_in.svg' %}</a></li>
{% endif %}
{% if options.twitter %}
	<li><a href="{{options.twitter}}" target="_blank" rel="nofollow">{% include '/svg/icon_tw.svg' %}</a></li>
{% endif %}
{% if options.youtube %}
	<li><a href="{{options.youtube}}" target="_blank" rel="nofollow">{% include '/svg/icon_yt.svg' %}</a></li>
{% endif %}