footer{

    section{
        padding-top: $spacing/2;
        padding-bottom: $spacing/2;

        @include media-breakpoint-up(xl){
            //padding-top: $spacing/2;
            //padding-bottom: $spacing/2;
        }
    }
}

.footer{

    &__newsletter{
        @include media-breakpoint-down(md){
            margin: 0;
        }
    }
    &__partners{
        background-color: var(--couleurBleuClair);

        .partners__wrapper{
            display: inherit;
            @include justify-content(center);
            flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            width: 100%;
        }

        img{
            height: 75px;
            width: auto;
            padding: 0 $spacing / 2;

            @include media-breakpoint-down(lg){
                height: 65px;
                margin: $spacing / 4 0;
            }

            @include media-breakpoint-up(xl){
                padding: 0 $spacing;
            }
        }
    }
    &__links{
        background-color: var(--couleurNoir);
        color: var(--couleurBlanc);
        font-size: 1rem;

        @include media-breakpoint-down(md){
            text-align: center;
        }

        [class^="col-"]:nth-child(n+2) {

            @include media-breakpoint-down(md){
                margin-bottom: 20px;
            }
        }

        .row{
            @include align-items(center);
        }
    }


    &__social{
        $link-size: 12px;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);

        @include media-breakpoint-up(lg){
            @include justify-content(flex-end);
        }

        a{
            height: $link-size * 3;
            width: $link-size * 3;
            //width: $link-size * 3;
            @include flexbox;

            &:nth-child(n + 2){
                margin-left: $link-size;
            }

            @include hover-focus{

                img{
                    transform: scaleX(-1);
                }
            }

        }

        img{
            width: auto;
            margin: auto;
            height: $link-size * 3;
            //filter: invert(84%) sepia(6%) saturate(57%) hue-rotate(169deg) brightness(81%) contrast(82%);
            transition: $transition-base;
        }
    }

    &__copyright{
        @include media-breakpoint-down(md){
            order: 3;
        }
    }
}