.home-program{
    h2{
        margin-bottom: $spacing-xl;
    }

    .date_container {
        text-align: right;
    }

    #date-selector{
        background-color: transparent;
        border: 0;
        padding: 10px 50px 10px 0px;
        text-align: right;
        // icons styling
        background-image: url(../../images/icon_arrow-down.png);
        background-position: calc(100% - 15px) 50%;
        background-repeat: no-repeat;
        background-size: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;

        option{
            font-size: 16px;
            text-transform: initial;
        }
    }
}
