.page-template-template-maps {
    section.basic-content {
        margin-top: $spacing-md;

        @include media-breakpoint-up(lg) {
            margin-top: $spacing * 4;
        }
    }
    .wp-block-columns {
        margin-bottom: 0;
    }
}
.artwork-list{

    .year-artworks{
        flex: 100%;
        min-width: 100%;
    }

    .content{
        .artwork-col{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .artwork{
                width: 100%;
                border-top: 2px solid var(--couleurNoir);

                @include media-breakpoint-up(md) {
                    width: calc(calc(100% / 2) - 11px);
                }
                span{
                    cursor: pointer;
                    position: relative;
                    display: inline-flex;
                    -webkit-transition: all 0.15s;
                    transition: all 0.15s;
                    align-items: center;
                    padding: ($spacing * 2) 0;

                    svg {
                        margin-right: $spacing-md;
                    }

                    &:hover{
                        &:before{
                        }
                    }
                }
            }
        }
    }
}