.single-post {
    .col-wrapper{
        display: flex;
        position:relative;
        z-index:0;

        @include media-screen(){
            flex-direction: column;
        }

        .right-col{
            padding-left: 30px;
            @include media-screen(){
                padding-left: 0px;
            }
        }
    }

    figure{
        margin: 0 auto;
        img{
            width: 100%;
        }
    }

    .article__cta {
        margin-top: $spacing*2;
        margin-bottom: $spacing*2;

        .button{
            padding: $spacing * 1.5;
            margin-right: $spacing * 1;
            margin-bottom: $spacing * 1;
            display: inline-block;
            border-radius: 2.5px;
            font-size: 0.875em;
            line-height: 1;
            font-weight: 700;

            &:nth-last-child(1){
                margin-right: 0;
            }
        }

        .btn__has-icon{

            svg{
                transform: translateX(-10px);
            }
        }
    }

    .artist,
    .styles,
    .country{
        font-weight: 700;

        span{
            font-size: 0.6em;
            font-weight: 400;
        }
    }

    .content-blog{
        figure{

            img{
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .blog-categories{
        a{
            font-size: 1.6rem;
        }
    }

    .program-description {
        &:nth-last-child(n+2){
            margin-bottom: $spacing*4;
        }

        & + section {
            margin-top: 0;
        }
    }
}
