.page-template-page-splash{
    max-width: 100vw;
    overflow-x: hidden;
}

.splash {
    .col-lg-6 {

        @include media-breakpoint-between(xl,xxxl){
            min-height: 100vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
    }

    .col-xl-4:nth-last-child(1),
    .col-xl-4:nth-child(1){
        position: relative;
    }
    .poster{
        img{
            width: 100%;
            display: block;
            height: auto;

            @include media-breakpoint-up(lg){
                max-height: 100vh;
            }

            @include media-breakpoint-between(xl,xxxl){
                visibility: hidden;
            }

            @include media-breakpoint-up(xxxl){
                min-height: 100%;
            }
        }
    }

    .content{
        color: var(--couleurJaune);
        display: inherit;
        @include align-items(center);

        &__wrapper{
            width: 100%;
            text-align: center;

            @include media-breakpoint-down(md){
                min-height:1.6vw;
            }

            @include media-breakpoint-down(xl){
                padding: $spacing-xl;
            }

            @include media-breakpoint-down(sm){
                padding: $spacing-xl $spacing-md;
            }
        }
    }

    .logo{
        max-width: 65%;
        margin: 0 auto $spacing * 4;

        @include media-breakpoint-only(lg){
            max-width: 40%;
        }
    }

    h1{
        margin: 0 0 $spacing * 4;

        @include media-breakpoint-down(sm){
            margin: 0 0 $spacing * 2.5;
        }
    }

    .btn{
        @include flexbox;
        margin: $spacing * 4 auto $spacing * 4;
        max-width: fit-content;

        @include media-breakpoint-down(sm){
            margin: $spacing * 2.5 auto $spacing * 2.5;
        }

        svg{
            margin: 0 3px 0 -7px;
        }
    }

    &__social {
        @include flexbox;
        @include justify-content(center);
        @include flex-flow(row wrap);

        a{
            width: 50px;
            margin: 0 10px;
        }

        svg {
            height: 50px;
            display: block;
            transition: transform .15s ease-in-out;

            &:hover{
                transform: scale(1.25);
            }
        }
    }
}