@include media-breakpoint-up(lg) {
    .page-template-page-splash{
        max-width: 100vw;
        overflow-x: hidden;
    }
}

.splash {
    * {
        color: #3F3F3F;
        fill: #3F3F3F;
    }
    .content-wrapper & {
        padding: 0;
        margin: 0;
        .row{
            padding: 0;
            max-width: none;
        }
    }
    .container-fluid { padding: 0; }


    h1{
        font-size: 9.5vw;
        font-weight: 400;
        text-transform: unset;
        @include media-breakpoint-up(lg) {
            display: flex;
            justify-content: space-between;
        }
        span {

            @include media-breakpoint-down(md) {
                display: block;
            }
            @include media-breakpoint-up(lg) {
                flex: auto;
            }
            &:nth-child(2) {
                text-align: right;
            }
        }
    }

    &__social {
        @include flexbox;
        @include justify-content(center);
        @include flex-flow(row wrap);

        a{
            width: 50px;
            margin: 0 10px;
        }

        svg {
            height: 50px;
            display: block;
            transition: transform .15s ease-in-out;

            &:hover{
                transform: scale(1.25);
            }
        }
    }
}