.application{

	h3 {
		margin-bottom: $spacing*2;
		@include media-breakpoint-up(md) {
			margin-bottom: $spacing*3;
		}
	}

	.row {
		justify-content: space-between;

		[class*="col-"] {
			position: relative;
			flex: 100%;
			max-width: 100%;;

			&:nth-child(1) {
				@include media-breakpoint-only(md) {
					max-width: 62.5%;
					flex: 62.5%;
					h3 {
						position: absolute;
						top: 0;
						left: $spacing*4;
						z-index: 1;
					}
				}
				@include media-breakpoint-up(lg) {
					max-width: 57.5%;
					flex: 57.5%;
					h3 {
						position: absolute;
						top: 0;
						left: 0;
					}
				}
			}
			&:nth-child(2) {
				align-self: flex-end;
				text-align: right;

				@include media-breakpoint-up(md) {
					max-width: 37.5%;
					flex: 37.5%;
				}
				h3 {
					@include media-breakpoint-down(sm) {
						display: none;;
					}
				}
			}
		}
	}

	.app-image {
		
		position: relative;
		h3 {
			position: absolute;
			top: 0;
			right: 0;
			@include media-breakpoint-up(md) {
				display: none;
			}
		}
		img {
			@include media-breakpoint-up(md) {
				margin-left: auto;
			}

			@include media-breakpoint-down(sm) {
				max-width: 50%;
				margin-right: auto;
			}
		}
	}
	
	.app-links{
		display: flex;
		min-width: 40%;
		@include align-items(center);
		@include justify-content(flex-end);
		
		@include media-breakpoint-down(md){
			@include justify-content(center);
			flex: 100%;
			margin-top: $spacing * 2;
		}

		a{
			opacity: 1;
			@include hover-transition;

			&:hover{
				opacity: 0.7;
			}

			&:first-child{
				margin-right: 5px;
			}

			&:last-child{
				margin-left: 5px;
			}
		}
	}
}