.application{
	.app-image {
		img {
			margin-left: auto;
		}
	}

	h3 {
		margin-bottom: $spacing*3;
	}

	.row {
		justify-content: space-between;

		[class*="col-"] {
			position: relative;
			flex: 100%;
			max-width: 100%;;

			&:nth-child(1) {
				@include media-breakpoint-up(md) {
					max-width: 57.5%;
					flex: 57.5%;
					h3 {
						position: absolute;
						top: 0;
						left: 0;
					}
				}
			}
			&:nth-child(2) {
				@include media-breakpoint-up(md) {
					max-width: 37.5%;
					flex: 37.5%;
				}
				align-self: flex-end;
				text-align: right;
			}
		}
	}

	.app-links{
	}
	
	.app-links{
		display: flex;
		min-width: 40%;
		@include align-items(center);
		@include justify-content(flex-end);

		@include media-breakpoint-down(md){
			flex: 100%;
			margin-bottom: $spacing * 2;
		}

		a{
			opacity: 1;
			@include hover-transition;

			&:hover{
				opacity: 0.7;
			}

			&:first-child{
				margin-right: 5px;
			}

			&:last-child{
				margin-left: 5px;
			}
		}
	}
}