
.deux_colonnes{

	.left-col,
	.right-col{
		flex: 1 1 auto;
		width: 50%;
		@include media-breakpoint-down(sm) {
			width: 100%;
		}

		> section{
			height: 100%;
		}

		/*
		.content-width{
			.col-content{
				width: calc(#{$c12MaxWidth} / 2);
				max-width: calc(100vw / 2);
				@media only screen and (max-width: 767px) {
					max-width:100vw;
				}
			}
		}
		*/
	}

	.left-col{
		@include media-breakpoint-up(md) {
			padding-right: 20px;
		}

		/*
		.content-width{
			display: flex;
			justify-content: flex-end;

			.col-content{
				width: calc(#{$c12MaxWidth} / 2);
				max-width: calc(100vw / 2);
				@media only screen and (max-width: 768px) {
					width: 100%;
					max-width: 100%;
				}
			}
		}
		*/
	}

	.right-col {
		@include media-breakpoint-up(md) {
			padding-left: 20px;
		}
	}
}