.deux_colonnes {
    .col__wrapper{
        @include media-breakpoint-up(md){
            @include align-items(center);
        }
        @include media-breakpoint-up(lg) {
            padding-left: calc(2.6vw + 35px);
            padding-right: calc(2.6vw + 35px);
        }

        [class*=col-] {
            @include media-breakpoint-up(lg) {
                padding-left: 2.6vw;
                padding-right: 2.6vw;
            }
        }
        .col-md-6 {
            @include media-breakpoint-down(sm){
                margin-top: $spacing*2;
            }
        }
    }
    @include media-breakpoint-down(sm) {
        .mobile_first--col_1 > [class*=col-]:nth-child(1),
        .mobile_first--col_2 > [class*=col-]:nth-child(2) {
            order: -1;
            margin-top: 0;
        }
    }
}

.trois_colonnes {
     
    [class*=col-] {
        @include media-breakpoint-down(md) {
            margin-top: $spacing*2;
        }
    }

    img {
        margin-left: auto;
        margin-right: auto;
        
        @include media-breakpoint-up(md) {
            margin-left: auto;
            margin-right: 0;
        }
    }
    @include media-breakpoint-down(md) {
        .mobile_first--col_1 > [class*=col-]:nth-child(1),
        .mobile_first--col_2 > [class*=col-]:nth-child(2),
        .mobile_first--col_3 > [class*=col-]:nth-child(3) {
            order: -1;
            margin-top: 0;
        }
    }
}

