.formulaire_infolettre{
    &:nth-last-child(1){
        margin-bottom: 0;
    }

    .content{
        margin: 0 $spacing*-3;
        display: inherit;
        @include align-items(center);
    }

    .col-md-4{
        padding-left: $spacing * 3;
        padding-right: $spacing * 3;
    }

    p{
        font-size: 1.25em;
        margin: 0;
    }
}