#footer .formulaire_infolettre {
    .row{
        @include media-breakpoint-up(md) {
            max-width: var(--WidthContainerArea);
        }
    }
}

.formulaire_infolettre{
    padding-top: $spacing*4;
    padding-bottom: $spacing*4;

    @include media-breakpoint-up(md) {
        padding-top: $spacing*6;
        padding-bottom: $spacing*6;
    }

    @include media-breakpoint-up(xl){
        padding-top: $spacing*8;
        padding-bottom: $spacing*8;
    }

    .content{
        display: inherit;
        flex-wrap: inherit;
        margin: 0 $spacing*-1.5;
        width: calc(100% + $spacing*3);

        @include media-breakpoint-up(lg){
            @include align-items(center);
        }
    }

    .col-xl-4{
        padding-left: $spacing * 3;
        padding-right: $spacing * 3;
    }

    h2{
        margin-bottom: $spacing-xl;
        @include media-breakpoint-down(sm){
            margin-bottom: $spacing-md;
        }
    }

    p {
        @include media-breakpoint-up(lg) {
            max-width: 70%;
        }
    }

    .newsletter__form {
        @include media-breakpoint-between(md,lg){
            margin-top: $spacing*2;
        }

        [type="text"]:not(:active):not(:focus) {
            //background-image: url('../../images/icon_letter.png');
        }
    }

    p{
        margin-bottom: 0;
    }
}