.image_et_texte{
    .row{
        @include align-items(center);
    }

    .col-lg-6 {
    }

    .rte{
        max-width: calc(var(--WidthContainerArea) / 2);

        p{
            @include media-breakpoint-up(lg) {
                font-size: 1.125em;
            }

            @include media-breakpoint-up(xxl){
                font-size: 1.25em;
            }
        }

        &:nth-child(1){

            @include media-breakpoint-up(xxl) {
                margin-left: auto;
                padding-left: 0;
                padding-right: $spacing-xl * 1.5;
            }
        }

        &:nth-child(2){

            @include media-breakpoint-up(xxl) {
                margin-right: auto;
                padding-right: 0;
                padding-left: $spacing-xl * 1.5;
            }
        }
    }

    .image-container{
        padding-left: 0;
        padding-right: 0;
        margin-top: $spacing * -4;
        margin-bottom: $spacing * -4;

        @include media-breakpoint-up(lg){
            margin-top: $spacing * -6.5;
            margin-bottom: $spacing-md * -2;
        }
    }
}