
/// Style de la bannière
.banner{
	@include hover-transition;

	& + [class*="bg--"]{
		margin-top: 0;
	}

	[class*="col-12"]{
		position: relative;
		display: inherit;
		padding: 0;

	}

	.single-banner {
		.row {
			background-size:cover;
			background-position: center;
			height:50vh;
			max-height: 400px;
			@include align-items(center);
	
			.banner-overlay{
				h1{
					color: var(--couleurJaune);
				}
			}

			.content{
			}
		}
	}

	&--home{
		.left-banner{
			background-size: cover;
			padding: $spacing*4 $spacing*2;


			@include media-breakpoint-up(lg){
				padding: $spacing-xl $spacing*4;
			}

			img{
				width:100%;
			}

			.hero__date {
				text-align: right;
				text-transform: uppercase;
			}

			.hero__artist{
				margin-top: $spacing*1.5;

				h3{
					margin-bottom: $spacing * 4;
				}

				ul {
					column-count: 2;
					column-gap: 20px;
				}

				li {
					letter-spacing: -0.025em;
					font-weight: 700;
					padding-bottom: $spacing/2;
					text-transform: uppercase;
					line-height: 1;

					@include media-breakpoint-up(md) {
						font-size: 1.25em;
					}
				}

				a{
					color: var(--couleurNoir);
					@include hover-transition;

					@include hover-focus{
						color: var(--couleurRouge);
					}
				}
			}

		}
		.right-banner{
			display:inherit;
			padding: 0;
			img{
				width:100%;
				margin: auto;
			}
		}

	}
}