
/// Style de la bannière
.banner{
	@include hover-transition;

	& + [class*="bg--"]{
		margin-top: 0;
	}

	[class*="col-12"]{
		position: relative;
		display: inherit;

	}

	.single-banner {
		background-size:cover;
		background-position: center;
		background-repeat: no-repeat;

		.row {
			height:200px;
			min-height: 200px;
			@include align-items(center);

			@include media-breakpoint-up(md) {
				height:50vh;
				max-height: 400px;
			}

			.banner-overlay{
				h1{
					color: var(--couleurJaune);
				}
			}

			.content{
			}
		}
	}

	&--home{
		.left-banner{
			background-size: cover;
			padding: $spacing*4 $spacing*2;
			display: inherit;
			@include align-items(center);

			@include media-breakpoint-up(lg){
				padding: $spacing-xl $spacing*4;
			}

			img{
				width:100%;
			}

			.hero__date { }

			.hero__cta {
				margin-top: $spacing-md;

				h4{
					font-weight: 700;
				}
			}

			.hero__artist{
				margin-top: $spacing-xl;

				&:nth-child(2) {
					@include media-breakpoint-up(md) {
						    padding-right: 7.5vw;
					}

					ul {
						column-count: 2;
						column-gap: 20px;
					}
				}

				&:nth-child(3){
					ul {
						@include media-breakpoint-down(sm){
							column-count: 2;
							column-gap: 20px;
						}
					}
				}

				h3{
					font-weight: 800;
					margin-bottom: $spacing-md;

					@include media-breakpoint-up(md){
						margin-bottom: $spacing * 4;
					}
				}


				li {
					letter-spacing: -0.025em;
					font-weight: 600;
					padding-bottom: $spacing;
					text-transform: uppercase;
					//font-variant: small-caps;
					line-height: 1;

					@include media-breakpoint-up(md) {
						font-size: 1.125em;
					}
				}

				a{
					color: var(--couleurNoir);
					@include hover-transition;

					@include hover-focus{
						color: var(--couleurRouge);
					}
				}
			}

		}
		.right-banner{
			display:inherit;
			padding: 0;

			@include media-breakpoint-down(md){
				display: none;
			}

			img{
				width:100%;
				margin: auto;
			}
		}

	}
}