
/// Style de la bannière
.banner{
	@include hover-transition;
	margin-top: 0;
	margin-bottom: 0;

	& + section{
		margin-top: 0;

        @include media-breakpoint-up(lg){
            margin-top: 0;
        }
	}

	[class*="col-12"]{
		position: relative;
		//display: inherit;
	}

	.single-banner {
		background-size:cover;
		background-position: center;
		background-repeat: no-repeat;
		
		@include media-breakpoint-up(md) {
			background-position: center left;
		}

		.row {
			height:200px;
			min-height: 200px;

			@include media-breakpoint-up(md) {
				height:28.65vw;
				max-height: 550px;
				min-height: 300px;
			}

			.banner__title {
				margin-bottom: auto;
				
				h1 {
					padding-top: 5.2vw;
					
					&:not(.split--title) {
						padding-left: 7vw;
					}
					&.split--title {
						span {
							display: block;
							line-height: 0.8;
							&:nth-child(1) {
								@include media-breakpoint-up(lg) {
									padding-left: 7vw;
								}
							}
							&:nth-child(2) {
								padding-left: 40%;
							}
						}
					}
				}
			 }

			.banner__content{
				margin-top: auto;
				margin-left: auto;
				text-align: right;
				
				@include media-breakpoint-up(md) {
					max-width: 80%;
				}
				@include media-breakpoint-up(lg) {
					max-width: 60%;
				}
				@include media-breakpoint-up(xl) {
					max-width: 50%;
				}
			}
		}
	}

	&--home{
		.left-banner{
			background-size: cover;
			padding: $spacing*4 $spacing*2;
			display: inherit;
			@include align-items(center);

			@include media-breakpoint-up(lg){
				padding: $spacing-xl $spacing*4;
			}

			img{
				width:100%;
			}

			.hero__date { }

			.hero__cta {
				margin-top: $spacing-md;

				h4{
					font-weight: 700;
				}
			}

			.hero__artist{
				margin-top: $spacing-xl;

				&:nth-child(2) {
					@include media-breakpoint-up(md) {
						    padding-right: 7.5vw;
					}

					ul {
						column-count: 2;
						column-gap: 20px;
					}
				}

				&:nth-child(3){
					ul {
						@include media-breakpoint-down(sm){
							column-count: 2;
							column-gap: 20px;
						}
					}
				}

				h3{
					font-weight: 800;
					margin-bottom: $spacing-md;

					@include media-breakpoint-up(md){
						margin-bottom: $spacing * 4;
					}
				}


				li {
					letter-spacing: -0.025em;
					font-weight: 600;
					padding-bottom: $spacing;
					text-transform: uppercase;
					//font-variant: small-caps;
					line-height: 1;

					@include media-breakpoint-up(md) {
						font-size: 1.125em;
					}
				}

				a{
					color: var(--couleurNoir);
					@include hover-transition;

					@include hover-focus{
						color: var(--couleurRouge);
					}
				}
			}

		}
		.right-banner{
			display:inherit;
			padding: 0;

			@include media-breakpoint-down(md){
				display: none;
			}

			img{
				width:100%;
				margin: auto;
			}
		}

	}
}