//style de t3exte bouton
.texte_bouton{
	padding:15px 0;
	.content{
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include media-breakpoint-down(sm){
			flex-direction: column;
		}
	}

	.button {
		min-width: fit-content;
		
		@include media-breakpoint-down(sm){
			margin-top: $spacing*2;
		}
	}
}