{% extends "base.twig" %}

{% set content_items = page.meta('contenu_avec_fond') %}

{% block content %}

{% include "partial/section-banner.twig" %}

{% if page.content %}
    <section class="basic-content">
        <div class="content">
            {{ page.content }}
        </div>
    </section>
{% endif %}

{% include 'partial/filters-programs.twig' %}

<section class="list-programs">
    <div class="content">

        {% if event_posts -%}

            <section class="row programs card__wrapper">

                {%- for event_post in event_posts %}
                    {% include 'components/tease_program-article.twig' %}
                {% endfor -%}

            </section>

            {% include 'components/pagination.twig' with { pagination: event_posts.pagination({show_all: false, mid_size: 2, end_size: 3}) } %}

        {%- else -%}

            <section class="no-content">
                <div class="content">
                    <p>{{__('No post found.', 'site-theme')}}</p>
                </div>
            </section>

        {%- endif %}

    </div>
</section>

{% endblock %}