{% extends "base.twig" %}

{% set content_items = page.meta('contenu_avec_fond') %}

{% block content %}

{% include "partial/section-banner.twig" %}

<div class="content home-over-the-year">

    {% if event_posts -%}

        <section class="over-the-year__wrapper">

            <div class="row">

                {%- for event_post in event_posts %}

                    {% if loop.index  is even %}
                        {% set card_class = "card--even" %}
                    {% elseif  loop.index is odd %}
                        {% set card_class = "card--odd" %}
                    {% endif %}

                    {% include 'components/tease_over-the-year.twig' with { card_class: card_class } %}

                {% endfor -%}
            </div>

        </section>

    {%- else -%}

        <section class="row no-content">
            <div class="content">
                <p>{{__('No post found.', 'site-theme')}}</p>
            </div>
        </section>

    {%- endif %}

</div>

{% endblock %}