{% extends "base.twig" %}

{% block content %}

{% include "partial/section-banner.twig" with {'title': page.title}  %}

{% if page.content %}
    <section class="basic-content">
        <div class=" row">
            <div class="col-12 rte">
                {{ page.content }}
            </div>
        </div>
    </section>
{% endif %}

{% include 'partial/filters-artists.twig' %}

<div class="list-artists">
    <div class="content">

        {% if artist_posts -%}

            <section class="artists">

                {%- for artist_post in artist_posts %}

                    {% set artist_year = artist_post.annee %}

                    {% if current_year == NULL %}
                        {% set current_year = artist_year %}
                        <div class="row">
                            <div class="col-12 section__title section__title--underlined">
                                <h2 class="md artists-year">{{current_year}}</h2>
                            </div>
                        </div>
                        <div class="row card__wrapper">
                    {% endif %}

                    {% if current_year != artist_year %}
                        {% set current_year = artist_year %}
                        </div>
                        <div class="row">
                            <div class="col-12 section__title section__title--underlined">
                                <h2 class="md artists-year">{{current_year}}</h2>
                            </div>
                        </div>
                        <div class="row card__wrapper">
                    {% endif %}

                    {% include 'components/tease_artist-article.twig'  %}

                    {% if loop.last %}</div>{% endif %}
                {% endfor -%}

            </section>

            {% include 'components/pagination.twig' with { pagination: artist_posts.pagination({show_all: false, mid_size: 2, end_size: 2}) } %}

        {%- else -%}

            <section class="row no-content">
                <div class="content">
                    <p>{{__('No post found.', 'site-theme')}}</p>
                </div>
            </section>

        {%- endif %}

        {% do fn('wp_reset_postdata') %}

    </div>
</div>

{% endblock %}