<div class="text-button-wrapper">
    <div class="content">
        {%- if inner_item.texte -%}
            <p class="texte-gauche">{{inner_item.texte}}</p>
        {%- endif -%}

        {% set link = inner_item.bouton %}
        {%- if link -%}
            <a class="button" href="{{link.url}}">{{link.title}}</a>
        {%- endif -%}
    </div>
</div>
