{% set texte_pleine_largeur = inner_item.texte_pleine_largeur %}
{% set paragraph = "<p>" %}
{% set paragraph_lg = "<p class='lg'>" %}

{% set texte_size = ""  %}
{% if inner_item.big_paragraph == true %}
	{% set texte_size = " lg"  %}
{% endif %}

<div class="row content">
	<div class="{% if is_blog_post == true %}col-xl-10 col-12{% else %}col-12{% endif %} rte{{texte_size}}">
		{{ texte_pleine_largeur }}
	</div>
</div>