<div class="text-button-wrapper">
    <div class="row content">
        {%- if inner_item.texte -%}
            <h3 class="h2 lg">{{inner_item.texte}}</h3>
        {%- endif -%}

        {% set link = inner_item.bouton %}
        {%- if link -%}
            <a class="button" href="{{link.url}}">{{link.title}}</a>
        {%- endif -%}
    </div>
</div>
