
{% set colonne_de_gauche = inner_item.colonne_de_gauche %}
{% set colonne_de_droite = inner_item.colonne_de_droite %}
<div class="row col__wrapper {%- if inner_item.largeur_complete == true %} full-width{% endif %}">
    {% if colonne_de_gauche %}
        <div class="col-md-6">
        {% set contenu_colonne = colonne_de_gauche.contenu_colonne %}
        {% if contenu_colonne %}
            {% include "partial/sub_parts.twig" %}
        {% endif %}
        </div>
    {% endif %}

    {% if colonne_de_droite %}
        <div class="col-md-6">
            {% set contenu_colonne = colonne_de_droite.contenu_colonne %}
            {% if contenu_colonne %}
                {% include "partial/sub_parts.twig" %}
            {% endif %}
        </div>
    {% endif %}
</div>