
{%- set lien = inner_item.lien -%}
<div class="row">
    <figure class="{% if is_blog_post == true %}col-xl-10 col-12{% else %}col-12{% endif %}">
        {% if lien -%}
        <a href="{{ lien.url }}" target="{{ lien.target }}">
            {%- endif %}

            {%- set img = TimberImage(inner_item.image) -%}
            {%- set max_width = img.width -%}
            {%- set img_url = img.src -%}
            {%- set reponsize_sizes = "1920,1440,1366,1280,960,800,768,720,640,512,414,375,360" -%}

            {%- include 'components/reponsive_img.twig' with  { img: img, img_url: img_url, reponsize_sizes: reponsize_sizes, max_width: max_width} -%}

            {% if lien -%}
        </a>
        {%- endif %}
    </figure>
</div>
