<div class="content">
    <div class="row">

        <div class="section__title">
            {%- if inner_item.acf_fc_layout == 'articles_du_blog' -%}
            <h2>{{__('Latest posts', 'site-theme')}}</h2>
            {%- else -%}
            <h2>{{__('You may also like', 'site-theme')}}</h2>
            {%- endif -%}
        </div>

    </div>

    <div class="row articles card__wrapper">

        {%- if inner_item.acf_fc_layout == 'articles_du_blog' -%}

            {%- for blog_post in blog_posts %}
                {% include 'components/tease_blog-article.twig' %}
            {% endfor -%}

        {%- else -%}

            {%- for blog_post in blog_articles %}
                {% include 'components/tease_blog-article.twig' %}
            {% endfor -%}

        {%- endif -%}

    </div>

    <div class="row">
        <div class="button-wrap">
            <a href="{{options.home_blog}}" class="button">{{ __('See all posts', 'site-theme') }}</a>
        </div>
    </div>

</div>