<div class="row">
    <div class="content">
        <div class="col-md-12 col-lg-8 newsletter__title">
            <h2>{{options.newsletter_title}}</h2>
            <p class="lg">{{ options.newsletter_content }}</p>
        </div>
        <div class="col-md-12 col-lg-4 newsletter__form">
            {% filter shortcodes %}
            [gravityform id="{{ options.newsletter_form_id }}" title="false" description="false" ajax="true" tabindex="20"]
            {% endfilter %}
        </div>
    </div>
</div>