{% set events = Post(inner_item.evenements) %}

<div class="content">
    <div class="row">

        <div class="col-12">
            <h2>{{ __('Events', 'site-theme') }}</h2>
        </div>

    </div>

    {% if events %}
        <div class="row programs card__wrapper">
            {% for event_post in events %}
                {% include 'components/tease_program-article.twig' %}
            {% endfor %}

        </div>
    {% endif %}

    <div class="row cta-block">
        <div class="col-12 button-wrap rte">
            <a href="{{ options.home_program }}" class="cta__event">{{ __('View all events', 'site-theme') }}</a>
        </div>
    </div>

</div>