<div class="row content">
    {% if inner_item.titre %}
        <h3>{{inner_item.titre}}</h3>
    {% endif %}

    {{inner_item.texte}}

    <button class="button">{{__('Email', 'site-theme')}}</button>


</div>