<div class="banner row full-width">
    {% set banniere = Image(page.meta('banniere')) %}
    {% set banniere_url = banniere.src %}

    <div class="col-12 single-banner with-overlay" style="background-image:url('{{banniere_url|resize(1920,400) }}')">
        {% if page.contenu_banniere %}
        <div class="row content">
            <div class="col banner-overlay">
                {{page.contenu_banniere}}
            </div>
        </div>
        {% endif %}
    </div>
</div>