<section class="banner">
    {% set banniere = Image(page.meta('banniere')) %}
    {% set banniere_url = banniere.src %}
    {% set contenu_banniere = page.contenu_banniere %}

    <div class="single-banner with-overlay" style="background-image:url('{{banniere_url }}')">
        <div class="row">
            <div class="col-12 banner__title">
                <h1>
                {{- title -}}
                </h1>
            </div>
            {% if contenu_banniere %}
            <div class="col-12 banner__content rte">
                <p class="lg">{{- contenu_banniere -}}</p>
            </div>
            {% endif %}
        </div>
    </div>
</section>