{%- for sub_item in contenu_colonne -%}
{# Layout name:{{sub_item.acf_fc_layout}} #}
    <section class="{{sub_item.acf_fc_layout}}">
    {%- if sub_item.acf_fc_layout == 'application' -%}
        {% include "partial/part-application.twig" with {inner_item: sub_item} -%}
    {%- elseif sub_item.acf_fc_layout == 'titre_section' -%}
        {%- include "partial/part-titre_section.twig" with {inner_item: sub_item} -%}
    {%- elseif sub_item.acf_fc_layout == 'image_pleine_largeur' -%}
        {%- include "partial/part-image_pleine_largeur.twig" with {inner_item: sub_item} -%}
    {%- elseif sub_item.acf_fc_layout == 'texte_pleine_largeur' -%}
        {%- include "partial/part-texte_pleine_largeur.twig" with {inner_item: sub_item} -%}
    {%- endif -%}
    </section>
{%- endfor -%}